<%- include('partials/header'); %>

<h1><%= title %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quasi, atque
  odio, illo aperiam repellat, porro adipisci animi ea iusto tempore error harum
  cum? Quibusdam maiores tempore quis unde facere totam fugiat illo doloribus,
  consequuntur odit exercitationem sequi vel mollitia. Mollitia pariatur iusto
  recusandae, id error officiis? Assumenda, minus perspiciatis.
</p>

<%- include('partials/footer'); %>
